/nbproject/private/
/build/
dist/lib/magentix2-2\.01-jar-with-dependencies\.zip

dist/Practica2\.jar

dist/README\.TXT

\.DS_Store


*.png
/dist/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/shenron/dist/